@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display:  swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display:  swap;
}

body{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.page-header{
  background-color: #ffffff;
  color: #000000;
}

.navigation-link{
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: none;
}

.header-button{
  line-height: 20px;
  font-size: 16px;
  color: #b902b9;
  text-align: center;
  text-transform: uppercase;
}

.specification{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.specification-item{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-title{
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.services-title{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.services-description{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

 .services-title-item{
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.services-description-item{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.order-title{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.order-item{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.order-button{
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #dd06b9;
}

.appointment-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #b902b9;
}

.appointment-description{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #b902b9;
}

.appointment-button{
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #b902b9;
}

.footer-contact-address-phone{
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.main-inner-logo{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #a7006f;
}

.main-inner-item{
font-size: 16px;
line-height: 21px;
color: #a7006f;
}

.filter-name{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #a7006f;
}

.housing-list{
  font-size: 18px;
  line-height: 23px;
  color: #a7006f;
}

.infrastructure-list{
  font-size: 18px;
  line-height: 23px;
  color: #a7006f;
}

.pricing-form{
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

.pricing-button{
font-weight: 700;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #a7006f;
}

.catalog-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  }

.catalog-select{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card-price{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.more-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #a7006f;
}

.favourite-card{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #a7006f;
}

.card-rating{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.subscribe-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-description{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.subscribe-button{
font-weight: 700;
font-size: 20px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #a7006f;
}
